body {
  height: 100vh;
  box-sizing: border-box;
  background-color: hsla(240, 14%, 10%, 0.50);
}

form {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  max-width: 728px;
  display: flex;
}

form > button {
  height: 45px;
  width: 8rem;
  border: 0;
  border-radius: 0 4px 4px 0;
  font-size: small;
  font-weight: bold;
  color: hsl(240, 14%, 10%);
  background: linear-gradient(90deg, #7367f0 0%, #ce9ffc 100%);
}

input {
  padding: 0 1rem;
  height: 45px;
  width: 100%;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.received {

}

.received img {

}

.received p {

}

.sent {

}

.sent img {

}